<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | <%= locals.pageTitle || 'PageTitle' %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="margin-left: 0;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <% if(locals.user.guard=='systemOwner'){ %>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/report/system-transactions" class="nav-link">System Transactions</a>
      </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/category" class="nav-link">Category</a>
      </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/wallet-user/user/all" class="nav-link">Wallet Users</a>
      </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/wallet-user/company/all" class="nav-link">Wallet Companies</a>
      </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/wallet-user/chargingPoint/all" class="nav-link">Charging Points</a>
      </li>
      <% } %>
      <% if(locals.user.guard=='chargingPoint'){ %>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/charging" class="nav-link">Charge</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/my-charging-point-transactions" class="nav-link">My Transactions</a>
        </li>
      <% } %>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a href="/auth/logout" class="gray">Logout</a>
      </li>
      <!-- Notifications Dropdown Menu -->
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0px !important;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%= locals.pageTitle %></h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

